<div class="col-md-12">
  <div class="pull-left">
    <div class="well" style="width: 450px">
      <img src="<%= @user.avatar_url %>" height=410px>
        <dl class="dl-horizontal">
          <div class="page-header">
            <center><h1><%= @user.name %></h1></center>
          </div>
          <dt>User Login:</dt> <dd><%= @user.login %></dd>
          <dt>User ID:</dt> <dd><%= @user.id %></dd>
          <dt>Location:</dt> <dd><%= @user.location %></dd>
          <dt>Email:</dt> <dd><%= @user.email %></dd>
          <dt>No. of public repos:</dt> <dd><%= @user.public_repos %></dd>
          <dt>No. of followers:</dt> <dd><%= @user.followers %></dd>
          <dt>GitHub URL:</dt> <dd><a href="<%= @user.html_url %>"><%= @user.html_url %></a></dd>
          <dt>GitHub Birthday:</dt> <dd><%= @user.created_at.strftime("%B %-d, %Y") %></dd>
        </dl>
    </div>
  </div>
  <div class="pull-right" style="width: 500px">
    <h3><%= @user.name %>'s Recent Commits:</h3>
    <ul class="list-group">
      <% @new.client.commits("CaseyKelly/gCamp-Casey-Kelly").each do |x| %>
      <li class="list-group-item"><%= x.as_json[1][1][2][1] %></li>
      <% end %>
    </ul>
  </div>
</div>


<% @new.client.commits("CaseyKelly/gCamp-Casey-Kelly").each do |x| %>
<p><%= x.as_json[1][1][2][1] %>
<% end %>
