<div class="col-md-12">
  <div class="col-md-5">
    <div class="well">
      <img src="<%= @user.avatar_url %>" height=395px>
      <dl class="dl-horizontal">
        <div class="page-header">
          <center><h1><%= @user.name %></h1></center>
        </div>
        <dt>User Login:</dt> <dd><%= @user.login %></dd>
        <dt>User ID:</dt> <dd><%= @user.id %></dd>
        <dt>Location:</dt> <dd><%= @user.location %></dd>
        <dt>Email:</dt> <dd><%= @user.email %></dd>
        <dt>No. of public repos:</dt> <dd><%= @user.public_repos %></dd>
        <dt>No. of followers:</dt> <dd><%= @user.followers %></dd>
        <dt>GitHub URL:</dt> <dd><a href="<%= @user.html_url %>"><%= @user.html_url %></a></dd>
        <dt>GitHub Birthday:</dt> <dd><%= @user.created_at.strftime("%B %-d, %Y") %></dd>
      </dl>
    </div>
  </div>

  <div class="col-md-3">
    <h3>Repositories:</h3>
    <ul class="list-group">
      <% @repositories.each do |repo| %>
      <li class="list-group-item"> <a href="<%= repo.html_url %>"><%= repo.name %></a> </li>
      <% end %>
    </ul>
  </div>

  <div class="col-md-4">
    <h3>Commits:</h3>
    <ul class="list-group">
      <% @new.client.commits("CaseyKelly/gCamp-Casey-Kelly").each do |x| %>
        <blockquote><a href="<%= x.as_json[3][1] %>">"<%= x.as_json[1][1][2][1] %>"</a>
          <small><%= x.as_json[1][1][1][1][2][1].to_date.strftime("%B %-d, %Y") %></small></blockquote>
      <% end %>
    </ul>
  </div>
</div>
